<html>
  <head>
    <!-- Load the latest version of TensorFlow.js -->
    <script src="https://unpkg.com/@tensorflow/tfjs"></script>
    <script src="https://unpkg.com/@tensorflow-models/mobilenet"></script>
    <script src="https://unpkg.com/@tensorflow-models/knn-classifier"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <meta http-equiv="content-language" content="en" />
  </head>
  <body>
    <div class="jumbotron text-center lang-logo">
      <div class="property-card" id="console">
        <h3 id = "console-text-output">Results</h3>
      </div>
      
      <div class="container">
        <br />
        <br />
        <video
          autoplay
          playsinline
          muted
          id="webcam"
          width="700"
          height="500"
          class="property-card-video"
        ></video>
        <button class="btn btn-lg btn-default" id="switch-camera">Switch Camera</button>
        
        <br>
        <br>
        <div style="display: inline-flex" class='property-card-wide'>
          
          <form onsubmit="return false" id="class-label">
            <label style="color: black; font-size: 28px;" for="class-label">Label</label
            ><br />
            <input
              id="input-label"
              class="element-mini btn btn-lg "
              type="text"
              name="class-label"
              value="I see a stunnah..."
            /><br />
            <br>
            <button class="btn btn-lg btn-default" id="submit-label">Submit</button>
            <br />
            
          </form>
          <!-- <button class="btn btn-lg btn-default" id="class-a">Add A</button>
          <button class="btn btn-lg btn-default" id="class-b">Add B</button>
          <button class="btn btn-lg btn-default" id="class-c">Add C</button> -->
        </div>

      </div>
        <!-- <div class = "property-card-wide-header center-block" ><h3 >Learning</h3>
        </div> -->
  
        
 
        <br />
        <br />
        <br />

        
        <div class="property-card-huge" style="display: flex; height: 300px; " >
          <label style="color: black; font-size: 28px;">Save</label>
            <button class="btn btn-lg btn-default center-block" id="save_to_database_button">
              Save Model to Database
            </button>
            <h4 color = "black" class id = 'inserted-db-id'></h4>
            <h5>OR</h5>
            <button class="btn btn-lg btn-default center-block" id="save_button">
              Save Model Locally
            </button>
          </div>
        </div>

        <br>
        <div class = "property-card-huge" style="display: flex; height: 300px;">
          <label style="color: black; font-size: 28px; text-align: center;">Load</label>
          <form onsubmit="return false" id="load-weights">
            <input
              id="uuid-for-db"
              class="element-mini center-block btn btn-lg"
              type="text"
              name="uuid-for-db"
            />

            <button class="btn btn-lg btn-default center-block" id="load-from-db">
              Load from Database ID
            </button>
          </form>

          <h5 style ='text-align: center'>OR</h5>
          <input
            value="Load Prior Knowledge"
            class="btn btn-lg btn-default center-block"
            id="load_button"
            type="file"
            accept=".json"
          />

        </div>



        <img id="output" />
        <!-- Load index.js after the content of the page -->
        <script src="app.js"></script>
 
    </div>
  </body>
</html>
